@{
	Layout = "_Admin";
}
@model AllModels
<section class="adminServices section--dark">
    <div class="container">
        <form method="post" class="formForAdmin" asp-action="createService" asp-controller="Admin">
            <h2>Добавить услугу</h2>
            <div class="form-group">
                <input type="text" name="serviceName" placeholder="Введите название услуги" required>
            </div>
            <div class="form-group">
                <input type="number" name="servicePrice" placeholder="Введите цену услуги"
                    required>
                </div>
            <div class="btn-wrapper">
                <input type="submit" value="Добавить услугу" class="btn btn-primary">
            </div>
        </form>
        <table class="adminTable">
            <tr>
                <th>ID услуги</th>
                <th>Наименование услуги</th>
                <th>Цена услуги</th>
                <th>Действия</th>
            </tr>
            @foreach (var s in Model.Services)
           {
               <tr>
					<td>@s.Id</td>
					<td>@s.Title</td>
					<td>@s.Price</td>
					<td>
						<div class="adminActions">
							<a href="editService/@s.Id">Редактировать</a>
							<a href="deleteService/@s.Id">Удалить</a>
                        </div>
                    </td>
               </tr>
           }
        </table>
    </div>
    <!-- /.container -->
</section>
<!-- /.adminServices -->