@{
	Layout = "_Admin";
}
<section class="adminOffices section--dark">
    <div class="container-fluid">
        <form method="post" class="formForAdmin">
            <h2>Добавление дня</h2>
            <div class="form-group">
                <input type="text" name="scheduleDay" placeholder="День работы" required>
            </div>
            <div class="form-group" >
                <input type="text" name="scheduleTime" placeholder="Время работы (формат XX:XX-XX:XX)" required>
            </div>
            <div class="btn-wrapper">
                <input type="submit" value="Добавить день" class="btn btn-primary">
            </div>
        </form>
        <table class="adminTable">
            <tr>
                <th>День недели</th>
                <th>Время работы</th>
                <th>Действия</th>
            </tr>
            <tr>
                <td>Понедельник</td>
                <td>8:00 - 21:00</td>
                <td><div class="adminActions"><a href="">Редактировать</a><a href="">Удалить</a></div></td>
            </tr>
            <tr>
                <td>Воскресенье</td>
                <td>Выходной</td>
                <td><div class="adminActions"><a href="">Редактировать</a><a href="">Удалить</a></div></td>
            </tr>
        </table>
        <form method="post" class="formForAdmin">
            <h2>Добавление нового офиса</h2>
            <div class="form-group">
                <input type="text" name="officeAddress" required placeholder="Адрес офиса">
            </div>
            <div class="form-group">
                <textarea name="officeDescription" placeholder="Введите дополнительную информацию"></textarea>
            </div>
            <div class="form-group">
                <input type="text" name="officePhone" placeholder="Введите телефон офиса" required>
            </div>
            <div class="form-check">
                <input type="checkbox"> <label for="">asd</label>
            </div>
            <div class="form-check">
                <input type="checkbox"> <label for="">asd</label>
            </div>
            <div class="btn-wrapper">
                <input type="submit" class="btn btn-primary" value="Добавить офис">
            </div>
        </form>
        <table class="adminTable">
            <tr>
                <th>ID офиса</th>
                <th>Адрес офиса</th>
                <th>Телефон офиса</th>
                <th>Действия</th>
            </tr>
            <tr>
                <td>99a82ce4-59ca-44c2-8478-9205ed54c293</td>
                <td>Улица Пушкина, дом хуйлушкина</td>
                <td>8 880 555 35 35</td>
                <td><div class="adminActions"><a href="">Детали</a><a href="">Редактировать</a><a href="">Удалить</a></div></td>
            </tr>
        </table>
    </div>
</section>