@{
	Layout = "_Admin";
}
<section class="feedbacks section--dark">
    <div class="container-fluid">
        <table class="adminTable">
            <tr>
                <th>ID заявки</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Почта</th>
                <th>Действия</th>
            </tr>
            <tr>
                <td>99a82ce4-59ca-44c2-8478-9205ed54c293</td>
                <td>Оганесян Тигран</td>
                <td>+79299979794</td>
                <td>t-oganesyan00@yandex.ru</td>
                <td><div class="adminAction"><a href="">Детали</a><a href="">Удалить</a></div></td>
            </tr>
        </table>
    </div>
</section>