@{
	Layout = "_Admin";
}
<section class="adminNews section--dark">
    <div class="container-fluid">
        <form method="post" class="formForAdmin formForNews">
            <div class="form-group">
                <input type="text" name="newsPhoto" required placeholder="Фото новости">
            </div>
            <div class="form-group">
                <input type="text" name="newsTitle" required placeholder="Заголовок новости">
            </div>
            <div class="form-group">
                <textarea name="newsContent" required placeholder="Текст новости"></textarea>
            </div>
            <div class="btn-wrapper">
                <input class="btn btn-primary" type="submit" value="Добавить новость">
            </div>
        </form>
        <table class="adminTable">
            <tr>
                <th>ID новости</th>
                <th>Фото новости</th>
                <th>Заголовок новости</th>
                <th>Действия</th>
            </tr>
            <tr>
                <td>99a82ce4-59ca-44c2-8478-9205ed54c293</td>
                <td>akwodkowakeoakworiwaoirobiamoivmaoimvoiamwvoi</td>
                <td>Скунс умер</td>
                <td>
                    <div class="adminActions"><a href="">Детали</a><a href="">Редактировать</a><a href="">Удалить</a></div>
                </td>
            </tr>
        </table>
    </div>
</section>