@{
	Layout = "_Admin";
}
@model AllModels
<section class="feedbacks section--dark">
    <div class="container-fluid">
        <table class="adminTable">
            <tr>
                <th>ID заявки</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Почта</th>
                <th>Действия</th>
            </tr>
            @foreach (var f in Model.Feedbacks)
           {
               <tr>
					<td>@f.Id</td>
					<td>@f.Name</td>
					<td>@f.Phone</td>
					<td>@f.Mail</td>
					<td>
						<div class="adminActions">
							<a href="detailsFeedback/@f.Id">Детали</a>
							<a href="deleteFeedback/@f.Id">Удалить</a>
                        </div>
                    </td>
               </tr>

           }
        </table>
    </div>
</section>