@{
	Layout = "_Admin";
}
@model AllModels
<section class="adminNews section--dark">
    <div class="container-fluid">
        <form method="post" class="formForAdmin formForNews" asp-action="createNew" asp-controller="Admin">
            <div class="form-group">
                <input type="text" name="newsPhoto" required placeholder="Фото новости">
            </div>
            <div class="form-group">
                <input type="text" name="newsTitle" required placeholder="Заголовок новости">
            </div>
            <div class="form-group">
                <textarea name="newsContent" required placeholder="Текст новости"></textarea>
            </div>
            <div class="btn-wrapper">
                <input class="btn btn-primary" type="submit" value="Добавить новость">
            </div>
        </form>
        <table class="adminTable">
            <tr>
                <th>ID новости</th>
                <th>Фото новости</th>
                <th>Заголовок новости</th>
                <th>Действия</th>
            </tr>
            @foreach (var n in Model.News)
           {
               <tr>
					<td>@n.Id</td>
					<td>@n.Photo</td>
					<td>@n.Title</td>
					<td>
						<div class="adminActions">
							<a href="detailsNew/@n.Id">Детали</a>
							<a href="editNew/@n.Id">Редактировать</a>
							<a href="deleteNew/@n.Id">Удалить</a>
                        </div>
                    </td>
               </tr>
           }
        </table>
    </div>
</section>