@{
	Layout = "_Admin";
}
<section class="adminReviews section--dark">
    <div class="container-fluid">
        <table class="adminTable">
            <tr>
                <th>ID отзыва</th>
                <th>ID пользователя</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Оценка</th>
                <th>Действия</th>
            </tr>
            <tr>
                <td>99a82ce4-59ca-44c2-8478-9205ed54c293</td>
                <td>99a82ce4-59ca-44c2-8478-9205ed54c293</td>
                <td>Павлов</td>
                <td>Василий</td>
                <td>4,7</td>
                <td><div class="adminActions"><a href="">Детали</a><a href="">Удалить</a></div></td>
            </tr>
        </table>
    </div>
</section>