@{
	Layout = "_Admin";
}
<section class="users section--dark">
    <div class="container-fluid">
        <table class="adminTable">
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Пол</th>
                <th>Год рождения</th>
                <th>Почта</th>
                <th>Телефон</th>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Удаление</th>
            </tr>
            <tr>
                <td>99a82ce4-59ca-44c2-8478-9205ed54c293</td>
                <td>Оганесян Тигран Ваагнович</td>
                <td>Мужской</td>
                <td>31.12.2000</td>
                <td>t-oganesyan00@yandex.ru</td>
                <td>+79299979794</td>
                <td>Gloven</td>
                <td>1565630t</td>
                <td><a href="#">Удалить</a></td>
            </tr>
        </table>
    </div>
    <!-- /.container -->
</section>
<!-- /.users -->
