@{
	Layout = "_Edit";
}
@model TerraMars.Data.Entities.Service
<section class="adminEdit section--dark">
	<div class="container">
		<h2>Редактирование услуги @Html.DisplayTextFor(m => m.Id)</h2>
		@using(Html.BeginForm()){
			<div class="adminEdit-group">
				<label>Название услуги</label>
				@Html.EditorFor(m => m.Title)
			</div>
			<div class="adminEdit-group">
				<label>Цена услуги</label>
				@Html.EditorFor(m => m.Price)
			</div>
			<div><input type="submit" value="Сохранить изменения" class="btn btn-primary" /></div>
		}
	</div>
</section>