@{
	Layout = "_Edit";
}
@model TerraMars.Data.Entities.New

<section class="adminEdit section--dark">
	<div class="container">
		<h2>Редактирование новости @Html.DisplayTextFor(m => m.Id)</h2>
		@using(Html.BeginForm()){
			<div class="adminEdit-group">
				<label>Фото новости</label>
				@Html.EditorFor(m => m.Photo)
			</div>
			<div class="adminEdit-group">
				<label>Заголовок новости</label>
				@Html.EditorFor(m => m.Title)
			</div>
			<div class="adminEdit-group">
				<label>Контент новости</label>
				@Html.EditorFor(m => m.Content)
			</div>
			<div><input type="submit" value="Сохранить изменения" class="btn btn-primary" /></div>
		}
	</div>
</section>