@font-face {
    font-family: 'Futura Book';
    src: url('../fonts/Futura_Book/FuturaBookC.eot');
    src: 
    url('../fonts/Futura_Book/FuturaBookC.woff') format('woff'),
    url('../fonts/Futura_Book/FuturaBookC.woff2') format('woff2'),
    url('../fonts/Futura_Book/FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Futura Demi';
    src: url('../fonts/Futura_Demi/FuturaDemiC.eot');
    src: 
    url('../fonts/Futura_Demi/FuturaDemiC.woff') format('woff'),
    url('../fonts/Futura_Demi/FuturaDemiC.woff2') format('woff2'),
    url('../fonts/Futura_Demi/FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/Futura_Demi/YesevaOne-Regular.eot');
    src: 
    url('../fonts/Futura_Demi/YesevaOne-Regular.woff') format('woff'),
    url('../fonts/Futura_Demi/YesevaOne-Regular.woff2') format('woff2'),
    url('../fonts/Futura_Demi/YesevaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }