$primary: #EA003D
$light: #fff
$main: #100E19
.section
   transition: 0.3s ease-in-out
.btn
   display: flex
   align-items: center
   justify-content: center
   width: 190px
   height: 40px
   font-family: 'Futura Demi', sans-serif
   font-size: 16px
   border-radius: 2px
   border: 2px solid #000
   transition: 0.3s
   cursor: pointer
   &:hover
      transform: scale(1.1)
   &-primary
      background: $primary
      color: $light
      border-color: $primary
   &-tran
      background: transparent
      border-color: $primary
      color: $primary
      &:hover
         background: $primary
         color: $light
.section
   &--dark
      background: $main
   &-title
      display: flex
      flex-direction: column
      align-items: center
      &__text
         margin-bottom: 10px
         font-family: 'Yeseva One', cursive
         font-size: 20px
      &__icon
         position: relative
         display: block
         width: 40px
         height: 40px
         &::before
            position: absolute
            top: 50%
            right: 100%
            content: ''
            width: 40px
            height: 2px
            margin-left: 3rem
            background: $primary
            transform: translate(-15px, -1px)
         &::after
            position: absolute
            top: 50%
            left: 100%
            content: ''
            width: 40px
            height: 2px
            margin-right: 3rem
            background: $primary
            transform: translate(15px, -1px)
.text
   &--light
      color: $light
   &--dark
      color: $main
   &--primary
      color: $primary
   &--center
      text-align: center
.input, .textarea
   &-primary
      border-radius: 5px
      border: 2px solid $light
      background: transparent
      font-size: 14px
      color: $main
      transition: 0.2s ease-in-out
      &::placeholder
         font-family: 'Futura Demi', sans-serif
         font-size: 16px
         letter-spacing: 1px
         color: $light
      &:focus
         border-color: $primary
         background: $light
         &::placeholder
            color: $main
.up
   position: fixed
   z-index: 300
   display: flex
   align-items: center
   justify-content: center
   width: 60px
   height: 60px
   border-radius: 50px
   bottom: -10%
   right: 2%
   background: rgba(255, 255, 255, 0.2)
   color: $main
   font-size: 2.5rem
   cursor: pointer
   transition: all 0.3s ease-out
   &:hover
      box-shadow: 0 0 5px $light, 0 0 15px $light, 0 0 30px $light
      background: $main
      color: $light
   &_active
      bottom: 2%
.progressbar
   position: fixed
   z-index: 300
   top: 0
   left: 0
   width: 2%
   height: 100%
   &-nav
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      height: 100%
      &__element
         display: block
         width: 1.2rem
         height: 1.2rem
         margin: 1rem 0
         border-radius: 50%
         background: rgba(255, 255, 255, 0.1)
         transition: all 0.3s ease-in-out
         &_active
            background: $primary
            transform: scale(1.2)
         &:hover
            background: $light
.checkbox
   position: relative
   display: flex
   align-items: center
   justify-content: center
   width: 5rem
   height: 2rem
   &-btn
      cursor: pointer
      &::before
         position: absolute
         z-index: 2
         content: ''
         top: 50%
         left: 0
         width: 5rem
         height: 2rem
         background: $main
         background: $light
         border-radius: 2rem
         transform: translateY(-50%)
         transition: all 0.3s ease-out
      &::after
         position: absolute
         z-index: 3
         content: ''
         top: 50%
         left: 0
         transform: translateY(-50%)
         width: 2.1rem
         height: 2.1rem
         background: $primary
         border-radius: 50%
         transition: all 0.3s ease-out
      &:checked
         &::before
            background: $primary
         &::after
            left: 100%
            transform: translate(-100%, -50%)
            background: $light
.ranger
   display: flex
   flex-direction: column
   &-btn
      -moz-appearance: none
      appearance: none
      height: 2px
      border-radius: 2px
      background: $primary
      &::-webkit-slider-thumb
         appearance: none
         width: 20px
         height: 20px
         border-radius: 50%
         background: $light
         cursor: pointer
         transition: all 0.2s ease-in-out
         transform-origin: center
         &:hover
            transform: scale(1.3)
      &::-moz-range-thumb
         appearance: none
         width: 20px
         height: 20px
         border-radius: 50%
         background: $light
         cursor: pointer
         transition: all 0.2s ease-in-out
         transform-origin: center
         &:hover
            transform: scale(1.3)
   &-value
      max-width: 150px
      width: 100%
      margin-top: 2rem
      padding: 10px
      text-align: center
      background: transparent
      border: 2px solid $primary
      border-radius: 10px
      font-family: 'Futura Demi', sans-serif
      color: $primary
      font-size: 16px