@{
    Layout = "_Layout";
}
@model AllModels
<section class="section section--dark calculate">
    <div class="container">
        <div class="row">
        <div class="col-12 col-lg-6">
            <div class="calculate-ranger ranger">
                <h2 class="calculate-ranger__title">Выберите ширину участка 100м = <span>3</span></h2>
                <input type="range" min="10" max="20000" step="10" value="10" class="ranger-btn calculate-ranger__width">
                <input type="text" class="ranger-value calculate-ranger__value" id="calculate-ranger__width" value="10">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="calculate-ranger ranger">
                <h2 class="calculate-ranger__title">Выберите длину участка 100м = <span>3</span></h2>
                <input type="range" min="10" max="20000" step="10" value="10" class="ranger-btn calculate-ranger__height">
                <input type="text" class="ranger-value calculate-ranger__value" id="calculate-ranger__height" value="10">
            </div>
        </div>
        </div>
        <div class="calculate-square">
        <h2 class="calculate-square__title">Общая площадь</h2>
        <div class="calculate-square__value"></div>
        </div>
        <h2 class="calculate-title">Выберите дополнительные услуги</h2>
        <div class="calculate-services">
            @foreach (var s in Model.Services)
           {
               <div class="calculate-services__wrap">
                    <div class="calculate-checkbox checkbox">
                        <input type="checkbox" class="calculate-checkbox__btn checkbox-btn" id="@s.Title">
                    </div>
                    <label for="@s.Title"><span class="serviceName">@s.Title</span> - <span class="price">@s.Price</span></label>
                </div>
           }
        </div>
         
        <div class="calculate-total">
            <h2 class="calculate-total__title">Общая сумма: </h2>
            <div class="calculate-total__value"></div>
        </div>
		<div style="display: flex; justify-content:center; margin-top: 40px;"> <a class="btn btn-primary btn-order">Заказать</a></div>

<!-- /.modal -->
    </div>
    <!-- /.container -->
</section>
<div class="modal">
    <div class="modal-container">
        <div class="modal-container__close"><span></span></div>
        <!-- /.modal-container__close -->
        <h2 class="modal-container__title">Заказ участка</h2>
        <!-- /.modal-container__title -->
        <form method="post" asp-action="Index" asp-controller="TerraMars" class="modal-container__form">
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" name="guestName" id="name" class="input input-primary" placeholder="Введите имя *" required>
        </div>
        <div class="form-group">
            <label for="phone">Телефон</label>
            <input type="text" name="guestPhone" id="phone" class="input input-primary" placeholder="Введите телефон *" required>
        </div>
        <div class="modal-container__btn">
            <input type="submit" value="Заказать" class="btn btn-primary">
        </div>
        </form>
        <!-- /.modal-container__form -->
    </div>
    <!-- /.modal-container -->
</div>
<!-- /.section section--dark calculate -->