@{
    Layout = "_Layout";
}
<section class="section section--dark cart">
    <div class="container">
        <div class="cart-wrapper">
        <div class="cart-card">
            <h2 class="table">Номер заказа</h2>
            <p class="table">Имя участка</p>
            <p class="table">Площадь участка</p>
            <span class="table">Цена участка</span>
        </div>
        <div class="cart-card">
            <h2 class="cart-card__elem cart-card__number">936DA01F-9ABD-4d9d-80C7-02AF85C822A8</h2>
            <p class="cart-card__elem cart-card__name">Запад</p>
            <p class="cart-card__elem cart-card__square">850 км</p>
            <span class="cart-card__elem cart-card__price">250 000</span>
        </div>
        </div>
        <!-- /.cart-wrapper -->
        <a href="#" class="btn btn-primary cart-btn">Купить</a>
    </div>
    <!-- /.container -->
</section>
<!-- /.section section--dark cart -->