@{
    Layout = "_Layout";
}
<section class="section section--dark catalog">
    <div class="container">
        <h1 class="catalog-title">Наш каталог</h1>
        <div class="catalog-wrapper">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="catalog-card">
                    <div class="catalog-card__photo"><img src="~/img/catalog.jpg" alt="catalog"></div>
                    <div class="catalog-card__info">
                    <h2 class="catalog-card__name">Имя участка: <span>Запад</span></h2>
                    <h3 class="catalog-card__square">Площадь участка: <span>850 км</span></h3>
                    <p class="catalog-card__services">БД с услугами</p>
                    <p class="catalog-card__price">Цена участка <span>250 000</span></p>
                    </div>
                    <div class="catalog-card__buttons">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a href="#" class="catalog-card__btn catalog-card__fav">В избранное</a>
                        </div>
                        <div class="col-12 col-md-6">
                            <a href="#" class="catalog-card__btn catalog-card__cart">В корзину</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- /.catalog-card -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="catalog-card">
                    <div class="catalog-card__photo"><img src="~/img/catalog.jpg" alt="catalog"></div>
                    <div class="catalog-card__info">
                    <h2 class="catalog-card__name">Имя участка: <span>Запад</span></h2>
                    <h3 class="catalog-card__square">Площадь участка: <span>850 км</span></h3>
                    <p class="catalog-card__services">БД с услугами</p>
                    <p class="catalog-card__price">Цена участка <span>250 000</span></p>
                    </div>
                    <div class="catalog-card__buttons">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a href="#" class="catalog-card__btn catalog-card__fav">В избранное</a>
                        </div>
                        <div class="col-12 col-md-6">
                            <a href="#" class="catalog-card__btn catalog-card__cart">В корзину</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- /.catalog-card -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="catalog-card">
                    <div class="catalog-card__photo"><img src="~/img/catalog.jpg" alt="catalog"></div>
                    <div class="catalog-card__info">
                    <h2 class="catalog-card__name">Имя участка: <span>Запад</span></h2>
                    <h3 class="catalog-card__square">Площадь участка: <span>850 км</span></h3>
                    <p class="catalog-card__services">БД с услугами</p>
                    <p class="catalog-card__price">Цена участка <span>250 000</span></p>
                    </div>
                    <div class="catalog-card__buttons">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a href="#" class="catalog-card__btn catalog-card__fav">В избранное</a>
                        </div>
                        <div class="col-12 col-md-6">
                            <a href="#" class="catalog-card__btn catalog-card__cart">В корзину</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- /.catalog-card -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="catalog-card">
                    <div class="catalog-card__photo"><img src="~/img/catalog.jpg" alt="catalog"></div>
                    <div class="catalog-card__info">
                    <h2 class="catalog-card__name">Имя участка: <span>Запад</span></h2>
                    <h3 class="catalog-card__square">Площадь участка: <span>850 км</span></h3>
                    <p class="catalog-card__services">БД с услугами</p>
                    <p class="catalog-card__price">Цена участка <span>250 000</span></p>
                    </div>
                    <div class="catalog-card__buttons">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a href="#" class="catalog-card__btn catalog-card__fav">В избранное</a>
                        </div>
                        <div class="col-12 col-md-6">
                            <a href="#" class="catalog-card__btn catalog-card__cart">В корзину</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- /.catalog-card -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        </div>
        <!-- /.catalog-wrapper -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section section--dark catalog -->