@{
    Layout = "_Layout";
}
@model AllModels
<section class="section section--dark employees">
    <div class="container">
        <h1 class="employees-title">Наши сотрудники</h1>
        <div class="employees-wrapper">
        <div class="row">
            @foreach (var e in Model.Employees)
            {
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="employees-card">
                        <div class="employees-card__photo"><img src="@e.Photo" alt="director"></div>
                        <div class="employees-card__info">
                        <h2>@e.Fullname</h2>
                        <h3>@e.Post</h3>
                        <span>C нами @e.Experience лет</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        </div>
    </div>
</section>
