@{
    Layout = "_Layout";
}
<section class="section section--dark favorites">
    <div class="container">
        <div class="favorites-wrapper">
        <div class="favorites-card">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="favorites-card__photo"><img src="~/img/catalog.jpg" alt="fav"></div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="favorites-card__info">
                    <h2 class="favorites-card__name">Имя участка: Запад</h2>
                    <h3 class="favorites-card__square">Площадь участка: 850 км</h3>
                    <p class="favorites-card__services">БД</p>
                    <p class="favorites-card__price">Цена: 250 000</p>
                    <a href="#" class="btn btn-tran favorites-card__btn">В корзину</a></div>
                </div>
            </div>
        </div>
        </div>
        <!-- /.favorites-wrapper -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section section--dark favorites -->