@{
    Layout = "_Layout";
}
<section class="section section--dark offices">
    <div class="container">
        <h1 class="offices-title">
        Наши офисы
        </h1>
        <div class="offices-wrapper">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="offices-card">
                    <h2 class="offices-card__address">Россия, г. Москва, улица Сущевский вал, дом 21</h2>
                    <p class="offices-card__description">Со стороны дороги, возле Додо-пицца. Офис был открыт в 2021 году. Номер телефона: 89299979794</p>
                    <p class="offices-card__schedule">График работы: Понедельник - пятница</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="offices-card">
                    <h2 class="offices-card__address">Узбекистан, г. Ташкент, улица Саракульская, дом 144</h2>
                    <p class="offices-card__description">Со стороны дороги, возле Додо-пицца. Офис был открыт в 2021 году. Номер телефона: 89299979794</p>
                    <p class="offices-card__schedule">График работы: Понедельник - четверг</p>
                </div>
            </div>
        </div>
        </div>
        <!-- /.offices-wrapper -->
    </div>
    <!-- /.conainer -->
</section>
<!-- /.section section--dark offices -->