<section class="section hero" id="hero">
      <div class="hero-scene">
         <div data-speed="20" class="hero-layer hero-layer-bg"></div>
         <div data-speed="70" class="hero-layer hero-layer-1"></div>
      </div>
      <div class="container">
         <div class="hero-wrapper">
            <h1 class="hero-title">Земельный участок <br>на <span>Марсе</span></h1>
            <p class="hero-text">Выберите и приобритите под ключ свой участок на красной планете с экономией до 20% в течении 45 дней за счет недавного открытия нашей фирмы</p>
            <div class="hero-buttons">
               <button class="btn btn-tran hero-buttons__send">Отправить заявку</button>
               <a href="calculate.html" class="btn btn-primary hero-buttons__calc">Рассчитать стоимость</a>
            </div>
         </div>
         <!-- /.hero-wrapperc -->
      </div>
      <!-- /.container -->
   </section>
   <!-- /.section hero -->