<!DOCTYPE html>
<html lang="ru">
<head>
   @await Html.PartialAsync("MetatagsPartial")
   @await Html.PartialAsync("CssPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")
    @RenderBody()
    @await Html.PartialAsync("FooterPartial")

   

   <a href="#hero" class="up">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
   </a>
   @await Html.PartialAsync("ScriptsPartial")
</body>
</html>