  <section class="section section--dark team" id="team">
      <div class="container">
         <div class="section-title team-title">
            <h2 class="section-title__text team-title__text text--light">Наша команда</h2>
            <span class="section-title__icon team-title__icon"></span>
         </div>
         <p class="team-description text--light">Каждый сотрудник нашей компании является квалифицированным штатным специалистом с опытом работы от 6 лет. У нас нет шарлатанов, каждый сотрудник выполняет работу, соответствующую его специальности.</p>
         <div class="team-wrapper">
            <div class="container">
               <div class="row">
                  <div class="col-12 col-md-6 col-lg-3">
                     <div class="team-card">
                        <div class="team-card__img">
                           <img src="img/director.jpg" alt="director">
                        </div>
                        <div class="team-card__info">
                           <h2 class="team-card__name">Billy Herrington</h2>
                           <span class="team-card__post">Директор</span>
                           <span class="team-card__exp">Опыт работы <br> 15 лет</span>
                        </div>
                     </div>
                  </div>
                  <!-- /.col-12 col-md-6 col-lg-3 -->
                  <div class="col-12 col-md-6 col-lg-3">
                     <div class="team-card">
                        <div class="team-card__img">
                           <img src="img/mainproj.jpg" alt="mainproj">
                        </div>
                        <div class="team-card__info">
                           <h2 class="team-card__name">Elon Musk</h2>
                           <span class="team-card__post">Главный проектировщик</span>
                           <span class="team-card__exp">Опыт работы <br> 12 лет</span>
                        </div>
                     </div>
                  </div>
                  <!-- /.col-12 col-md-6 col-lg-3 -->
                  <div class="col-12 col-md-6 col-lg-3">
                     <div class="team-card">
                        <div class="team-card__img">
                           <img src="img/pr.jpg" alt="pr">
                        </div>
                        <div class="team-card__info">
                           <h2 class="team-card__name">Luxury Girl</h2>
                           <span class="team-card__post">PR-менеджер</span>
                           <span class="team-card__exp">Опыт работы <br> 5 лет</span>
                        </div>
                     </div>
                  </div>
                  <!-- /.col-12 col-md-6 col-lg-3 -->
                  <div class="col-12 col-md-6 col-lg-3">
                     <div class="team-card">
                        <div class="team-card__img">
                           <img src="img/anal1.jpg" alt="anal">
                        </div>
                        <div class="team-card__info">
                           <h2 class="team-card__name">Pedro Alonso</h2>
                           <span class="team-card__post">Аналитик</span>
                           <span class="team-card__exp">Опыт работы <br> 24 года</span>
                        </div>
                     </div>
                  </div>
                  <!-- /.col-12 col-md-6 col-lg-3 -->
               </div>
               <!-- /.row -->
            </div>
            <!-- /.container -->
         </div>
         <!-- /.team-wrapper -->
         <a href="#" class="btn btn-primary team-more">Показать всех</a>
      </div>
      <!-- /.container -->
   </section>
   <!-- /.section team -->  
   <section class="section after-team section--dark" id="questions"></section>