@font-face {
  font-family: "Futura Book";
  src: url("../fonts/Futura_Book/FuturaBookC.eot");
  src: url("../fonts/Futura_Book/FuturaBookC.woff") format("woff"), url("../fonts/Futura_Book/FuturaBookC.woff2") format("woff2"), url("../fonts/Futura_Book/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Demi";
  src: url("../fonts/Futura_Demi/FuturaDemiC.eot");
  src: url("../fonts/Futura_Demi/FuturaDemiC.woff") format("woff"), url("../fonts/Futura_Demi/FuturaDemiC.woff2") format("woff2"), url("../fonts/Futura_Demi/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/Futura_Demi/YesevaOne-Regular.eot");
  src: url("../fonts/Futura_Demi/YesevaOne-Regular.woff") format("woff"), url("../fonts/Futura_Demi/YesevaOne-Regular.woff2") format("woff2"), url("../fonts/Futura_Demi/YesevaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  text-decoration: none;
  border: none;
}

html {
  font-size: 10px;
  font-family: "Futura Book", sans-serif;
}

@media (min-width: 576px) {
  .container {
    max-width: 642px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 822px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1062px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1242px;
  }
}
.text {
  font-size: 2rem;
}

.light {
  color: #fff;
}

.primary {
  color: #ea003d;
}

.center {
  text-align: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Futura Demi", sans-serif;
  border-radius: 5px;
  width: 162px;
  height: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-primary {
  border: 2px solid #ea003d;
  background: #ea003d;
  color: #fff;
}
.btn-tran {
  border: 2px solid #ea003d;
  background: transparent;
  color: #ea003d;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80px;
  background: #100e19;
}
.header-logo {
  display: block;
  width: 75px;
  height: 75px;
  background: url("./../img/logo.png") no-repeat center;
  background-size: cover;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-nav__element {
  margin-right: 4rem;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-nav__element:last-child {
  margin-right: 0;
}
.header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-search__form {
  position: absolute;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  right: 0;
  height: 45px;
  background: #fff;
  border-radius: 20px;
  -webkit-transform: translateX(50%) scaleX(0);
  -ms-transform: translateX(50%) scaleX(0);
  transform: translateX(50%) scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-search__form_active {
  -webkit-transform: translateX(0) scaleX(1);
  -ms-transform: translateX(0) scaleX(1);
  transform: translateX(0) scaleX(1);
  width: 100%;
}
.header-search__input {
  width: 75%;
  padding: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 16px;
  color: #100e19;
  font-family: "Futura Demi", sans-serif;
}
.header-search__input::-webkit-input-placeholder {
  color: #ea003d;
  font-family: "Futura Demi", sans-serif;
  font-size: 16px;
}
.header-search__input::-moz-placeholder {
  color: #ea003d;
  font-family: "Futura Demi", sans-serif;
  font-size: 16px;
}
.header-search__input:-ms-input-placeholder {
  color: #ea003d;
  font-family: "Futura Demi", sans-serif;
  font-size: 16px;
}
.header-search__input::-ms-input-placeholder {
  color: #ea003d;
  font-family: "Futura Demi", sans-serif;
  font-size: 16px;
}
.header-search__input::placeholder {
  color: #ea003d;
  font-family: "Futura Demi", sans-serif;
  font-size: 16px;
}
.header-search__btn {
  font-size: 20px;
  background: transparent;
  color: #ea003d;
  cursor: pointer;
  height: 100%;
  width: 20%;
}
.header-search__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #100e19;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-fixed_active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

@media (min-width: 992px) {
  .header-nav__element {
    position: relative;
  }
  .header-nav__element::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #ea003d;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header-nav__element:hover {
    color: #ea003d;
  }
  .header-nav__element:hover::after {
    width: 100%;
    left: 0;
  }
  .header-profile:hover {
    border-color: #ea003d;
    color: #ea003d;
  }
  .header-search__icon:hover {
    border-color: #ea003d;
    color: #ea003d;
  }
}