 <footer class="footer section--dark">
      <div class="container">
         <div class="footer-nav">
            <div class="footer-nav__col">
               <a href="https://vk.com" class="footer-nav__link footer-nav__link--vk">
                  <i class="fa fa-vk" aria-hidden="true"></i>
               </a>
            </div>
            <div class="footer-nav__col">
               <a href="https://instagram.com" class="footer-nav__link footer-nav__link--inst">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
               </a>
            </div>
            <div class="footer-nav__col">
               <a href="https://facebook.com" class="footer-nav__link footer-nav__link--fb">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
               </a>
            </div>
            <div class="footer-nav__col">
               <a href="https://web.telegram.org" class="footer-nav__link footer-nav__link--tg">
                  <i class="fa fa-telegram" aria-hidden="true"></i>
               </a>
            </div>
            <div class="footer-nav__col">
               <a href="https://web.whatsapp.com" class="footer-nav__link footer-nav__link--what">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
               </a>
            </div>
            <div class="footer-nav__col">
               <a href="https://twitter.com" class="footer-nav__link footer-nav__link--tw">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- /.container -->
   </footer>
   <!-- /.footer section--dark -->